<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>New list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div class="container">
	<h2>Add a new list</h2>
	<div class="col-md-4">
	<form th:object="${tasklist}" th:action="@{/savelist}" action="#" method="post">
		<label for="name">Name</label>
	<input type="text" id="name" th:field="*{name}" class=form-control>
	<input type="submit" class="btn btn-primary" value="Save">
	</form>
	</div>
	</div>
</body>
</html>