<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Tasks</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div style="text-align: center">
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-dark" type="submit" value="Sign Out"/>
	</form>
	<h1>Tasks</h1>

	</div>
	<div style="background-color: #b3ecff">
		<table class="table table-striped" style="display: column; border-collapse: separate; border-spacing: 0 20px"> 
				<tr>
					<th>List <a href="/newlist" class="btn btn-success">New list</a></th>
					<th>ToDo</th>
					<th>In Progress</th>
					<th>Done</th>
				</tr>
				<tr>
					<tr th:each="list : ${lists}">
					<td>
						<table style="border-collapse: separate; border-spacing: 0 15px;">
							<tr><th th:text="${list.name}"></th></tr>
							<tr><td><a class="btn btn-primary" th:href="@{/addtask/{id}(id=${list.listId})}">Add task</a></td></tr>
							<tr><td><a class="btn btn-danger" th:href="@{/deletelist/{id}(id=${list.listId})}">Delete</a></td></tr>
						</table>
					</td>
					
					<td>
						<table>
							<tr>
								<th>Task</th>
								<th>Deadline</th>
							</tr>
							<tr th:each="task : ${tasks}" th:if="${task.status == 'ToDo' && task.tasklist.listId == list.listId }">
							<td style="white-space: nowrap;" th:text="${task.description}"></td>
							<td style="white-space: nowrap;" th:text="${task.deadline}"></td>
							<td>
								<table>
									<tr>
										<td class="btn btn-success" ><a th:href="@{/edittask/{id}(id=${task.id})}">Edit</a></td>
										<td class="btn btn-danger"><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
										<td class="btn btn-warning"><a th:href="@{/changestatus/{id}(id=${task.id})}">--></a></td>
									</tr>
								</table>
							</td>
						</tr>
						</table>
					</td>
					
					<td>
						<table >
							<tr>
								<th>Task</th>
								<th>Deadline</th>
							</tr>
							<tr th:each="task : ${tasks}" th:if="${task.status == 'InProgress' && task.tasklist.listId == list.listId }">
							<td th:text="${task.description}"></td>
							<td style="white-space: nowrap;" th:text="${task.deadline}"></td>
								<td>
								<table>
									<tr style="border: 1px solid black;">
										<td class="btn btn-success" ><a th:href="@{/edittask/{id}(id=${task.id})}">Edit</a></td>
										<td class="btn btn-danger"><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
										<td class="btn btn-warning"><a th:href="@{/changestatus/{id}(id=${task.id})}">--></a></td>
									</tr>
								</table>
							</td>
							</tr>
						</table>
					</td>
					
					<td>
						<table>
							<tr>
								<th>Task</th>
								<th>Deadline</th>
							</tr>
							<tr th:each="task : ${tasks}" th:if="${task.status == 'Done' && task.tasklist.listId == list.listId }">
							<td th:text="${task.description}"></td>
							<td style="white-space: nowrap;" th:text="${task.deadline}"></td>
								<td>
								<table>
									<tr>
										<td class="btn btn-success" ><a th:href="@{/edittask/{id}(id=${task.id})}">Edit</a></td>
										<td class="btn btn-danger"><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
										<td class="btn btn-warning"><a th:href="@{/changestatus/{id}(id=${task.id})}">X</a></td>
									</tr>
								</table>
							</td>
							</tr>
						</table>
					</td>
				</tr>
				
		</table>

	</div>
</body>
</html>